* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #03a9f4;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}
body.active {
    background: #03a9f4;
    min-height: 100vh;
    overflow: hidden;
    min-height: 100vh;
}
.shape .squire {
    position: absolute;
    z-index: -4;
    width: 600px;
    height: 400px;
    background: #E35E6A;
    border-radius: 5px;
    top: -200px;
    right: -400px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transform: skew(-40deg);
    -webkit-transform: skew(-40deg);
    -moz-transform: skew(-40deg);
    -ms-transform: skew(-40deg);
    -o-transform: skew(-40deg);
}
.shape .circle {
    position: absolute;
    z-index: -3;
    width: 600px;
    height: 600px;
    background: #FACB42;
    left: -300px;
    bottom: -300px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.container {
    position: relative;
    width: 80%;
    height: 700px;
}
.blueBg {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 680px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-size: cover;
}
.blueBg::before {
    position: absolute;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.8;
    background-image: url(../Group\ 1.png);
}
.blueBg .box {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box.singup {
    position: absolute;
    right: 0;
}
.blueBg .box h2 {
    color: #fff;
    font-size: 2.2em;
    font-weight: 600;
}
.blueBg .box button {
    cursor: pointer;
    padding: 15px 60px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.formBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 680px;
    background: #fff;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease;
    box-shadow: 0 5px 45px rgba(0,0,0,0.05);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.formBx.active {
    left: 40%;
}
.formBx .form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.formBx .singinForm {
    transition-delay: 0.25s;
}
.formBx.active .singinForm {
    left: -100%;
    transition-delay: 0s;
}
.formBx .singupForm {
    left: 100%;
    transition-delay: 0s;
}
.formBx.active .singupForm {
    left: 0;
    transition-delay: 0.25s;
}
.formBx .form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formBx .form form h3 {
    font-size: 2.5em;
    color: #3AB397;
    margin-bottom: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.formBx .form form .inpt {
    width: 80%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border: 2px solid rgb(204, 202, 202);
}
.formBx .form form .inpt input {
    border: none;
    outline: none;
    height: 100%;
    width: 80%;
    margin-left: 20px;
    font-size: 16px;
    background: transparent;
}
.formBx .form form .inpt i {
    font-size: 19px;
    font-weight: 600;
}
.formBx .form form .inpt .fa-lock, 
.formBx .form form .inpt .fa-envelope, 
.formBx .form form .inpt .fa-user
{
    margin-left: 10px;
}
.formBx .form form .inpt .fa-eye {
    padding: 20px;
    cursor: pointer;
}
.formBx .form form input[type="submit"] {
    background: #3AB397;
    border: none;
    color: #fff;
    max-width: 200px;
    height: 50px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.formBx .form form .yes {
    display: none;
}
.formBx form .forget {
    color: #333;
    margin-top: 20px;
}
small {
    margin-top: 5px;
    color: red;
}
/* Responsive */ 

@media (max-width: 991px){
    .container {
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .blueBg {
        top: 0;
        height: 100%;
    }
    .formBx {
        width: 100%;
        height: 500px;
        top: 0;
        left: 0;
        box-shadow: none;
    }
    .blueBg .box {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }
    .box.singin {
        top: 0;
    }
    .formBx.active {
        left: 0;
        top: 150px;
    }
    .shape .squire {
        display: none;
    }
    .shape .circle {
        display: none;
    }
}